@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="" method="post">
    <div class="form-grup">
        <label for="ejemplo"> elegir archivo</label>
        <input type="file" class="form-control-file" name="imagen" id="ejemplo">
        <label for="ejemplo">carpeta en donde se ubica</label>
        <select name="ubicacion" id="">
            <option value="1">imagenes </option>
            <option value="2">Documentos</option>
            <option value="0">Descargas</option>
            <option value="3">Temporal</option>
        </select>

        <br/>
        <button type="submit">subir</button>
    </div>



</form>

<br/>

<h2>
    @ViewBag.Mensaje
</h2>